<div class = "demo-toolbar">
<bryntum-button
    text = "Add event"
    icon = "b-fa b-fa-plus"
    cls = "b-green"
    (onClick) = "onAddEventClick()"
></bryntum-button>
<bryntum-button
    text = "Remove event"
    icon = "b-fa b-fa-trash"
    cls = "b-red"
    (onClick) = "onRemoveEventClick()"
    [disabled] = "selectedEventName === ''"
></bryntum-button>
<div class = "spacer"></div>
<label class = "sel-event">
    Selected event:
    <span>{{ selectedEventName || 'None' }}</span>
</label>
<div class = "spacer"></div>
<bryntum-date-field
    label = "Select date"
    [value] = "pickerDate"
    (onChange) = "onDatePickerChange($event)"
></bryntum-date-field>
<bryntum-slider
    text = "Bar margin"
    min = 5
    max = 20
    [value] = "barMargin"
    (onInput) = "onBarMarginChange($event)"
></bryntum-slider>
</div>

<bryntum-scheduler
    #scheduler
    [columns] = "schedulerConfig.columns"
    [crudManager] = "schedulerConfig.crudManager"
    [endDate] = "schedulerConfig.endDate"
    [eventEditFeature] = "schedulerConfig.eventEditFeature"
    [eventRenderer] = "schedulerConfig.eventRenderer"
    [events] = "schedulerConfig.events"
    [eventStore] = "schedulerConfig.eventStore"
    [resourceImagePath] = "schedulerConfig.resourceImagePath"
    [resources] = "schedulerConfig.resources"
    [rowHeight] = "schedulerConfig.rowHeight"
    [startDate] = "schedulerConfig.startDate"
    [timeRanges] = "schedulerConfig.timeRanges"
    [timeRangesFeature] = "schedulerConfig.timeRangesFeature"
    [viewPreset] = "schedulerConfig.viewPreset"
    (onEventSelectionChange) = "onEventSelectionChange()"
    (onReleaseEvent) = "onReleaseEvent()"
></bryntum-scheduler>
