/**
 * Application global styles
 */
@import "@bryntum/scheduler/scheduler.material.css";
@import "@bryntum/demo-resources/scss/example.scss";

app-root {
    flex           : 1;
    display        : flex;
    flex-direction : column;
    height         : 100vh;
}

app-scheduler, app-home {
    flex : 1;
}

app-home {
    display:flex;
    align-items: center;
    justify-content: center;
}

.b-sch-event {
    border-radius : 3px;
}

.b-sch-resourcetimerange {
    &.custom {
        color: #0a6fc0;
        background : repeating-linear-gradient(-55deg,
            rgba(200, 200, 200, 0.3),
            rgba(200, 200, 200, 0.3) 10px,
            rgba(240, 240, 240, 0.3) 5px,
            rgba(240, 240, 240, 0.3) 20px);
    }
}

.b-stickyevents .b-sch-resourcetimerange {
    align-items: center;
}

.custom-tooltip {

    padding : 0 1em;

    h3 {
        white-space : nowrap;
        margin      : 0.5em 0;
        font-size   : 1.3em;

    }

    label {
        font-weight:normal;
        font-style: italic;
    }

    article {
        padding: 0.5em 0;
    }


}

.striped {
    background : repeating-linear-gradient(
            -55deg,
            rgba(230, 230, 230, 0.3),
            rgba(230, 230, 230, 0.3) 10px,
            rgba(240, 240, 240, 0.3) 5px,
            rgba(240, 240, 240, 0.3) 20px
    );
}
